.tiles {
    width: 18%;
    margin: 5px 1%;
    float: left;
    height: 200px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 8px;
}

#start, #reset {
    margin: 3px 0;
}